html
    head 
        title= 'Game Form'
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css')
    body
        .content.m-3
            h1="Result"
            p=resultInformation